{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_admin/{{admin.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="_id" value="{{admin.0}}" class="form-control" placeholder="Código Uninorte" required>
          </div>
          <div class="form-group">
            <input type="text" name="name" value="{{admin.1}}" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="text" name="user" value="{{admin.3}}" class="form-control" placeholder="Ususario" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" value="{{admin.2}}" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-validar btn-block">
              Actualizar datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
