{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Galería de Imágenes</title>
  </head>
  <body>
  


      <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center my-2">
               <h4>Fotos relacionadas</h4>
           </div>
        </div>

        <div class="portfolio-item row">
          {% for result in resultados %}
           <div class=" col-lg-3 col-md-4 col-6 col-sm">
              <a href="{{ url_for('mostrar_fotos', caras_id=id, foto_id=result.1) }}" class="fancylight popup-btn" data-fancybox-group="light"> 
              <img class="img-fluid" src="{{ result.0 }}" alt="">
              </a>
           </div>
           {% endfor %}
        </div>
      </div>


      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <span>
            {{ pagination.info }}
            <hr />
          </span>
          {{ pagination.links }}
        </div>
      </div>
    
  </body>
</html>
<iframe src="https://onedrive.live.com/embed?resid=128F10A92846F712%21106&authkey=!AFK_sUfI7k5SvM8" width="98" height="120" frameborder="0" scrolling="no"></iframe>

{% endblock %}