{% extends "layout.html" %}
{% block body %}


<!DOCTYPE html>
<html>
<head>
    <title>Galería de Imágenes</title>
</head>
<body>
    
    <div class="card text-center">
        <h1>Galería de Imágenes</h1>
        <div class="card card-body">

        <div class="imagen-container">
          
            <a class="fancylight popup-btn" data-fancybox-group="light" >
            <img src="data:image/jpeg;base64,{{ url_foto }}" alt="Imagen" class="imagen-ajustada">
            </a>
        
        </div>
    </div>
    </div>

</body>
</html>

{% endblock %}
