<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>LACS inventario</title>
  <!-- BOOSTRAP 4 -->
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
</head>

<body>
  <br>
  <div class="card text-center">
    <div class="card-header">
      Laboratorio Álvaro Cepeda Samudio
    </div>
    <div class="card-body">
      <h5 class="card-title">Bienvenidos al portal de Organizacion de Multimedia del Laboratorio Álvaro Cepeda Samudio</h5>
      <p class="card-text">UN - laboratorio de Producción Transmedia</p>
      <a href="/funcionarios" class="btn btn-outline-primary">Gestion de Multimedia</a>
    </div>
    <div class="card-footer text-muted">
      Universidad del Norte
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
