<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Paginación con Flask-Paginate</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/custom_paginate.css') }}" />
  
 
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

</head>

<body>

  <!-- NAVIGATION  -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">LACS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/funcionarios">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/caras_reconocidas">Caras Reconocidas <span class="sr-only">(current)</span></a>
        </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0" action="{{url_for('redireccion')}}" method="POST">
          <input type="hidden" name="current_url" value="{{ request.url }}">
          <input class="form-control mr-sm-2" type="search" name="name" placeholder="Escriba un nombre" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin"> Administradores</a>
        </li>
      </ul>



    </div>
  </nav>

  <div class="container pt-4">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
  </div>
  <br>

  <!-- footer -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  <!---animacion de alerta-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
